<% if flash[:notice] %>
  <div class='alert alert-success'>
    <%= flash[:notice].html_safe %>
  </div>
<% elsif flash[:alert] %>
  <div class='alert alert-danger'>
    <%= flash[:alert] %>
  </div>
<% end %>