<div class='image' >
<%= image_tag @photo.framed.url %>
</div>
<div class='social'>
  <a id='share-fb' href='#'><i class='fa fa-facebook-square'></i></a>
  <a id='share-tw' href='#' target='_blank'><i class='fa fa-twitter-square'></i></a>
</div>