body.photo_sets.new {

  #video-row {
    text-align: center;
  }

  #video-frame {
    background-color: rgba(0,0,0,.8);
    margin: auto;
    padding: 20px;
    width: 56.25%;
  }

  #btn-camera {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  #video-frame > img {
    border: solid 5px white;
    box-sizing: content-box;
    border-radius: 5px;
    width: 640px;
    height: 480px;
  }

  video {
    border: solid 4px #777;
    box-sizing: content-box;
    border-radius: 4px;
    width: 640px;
    height: 480px;
  }

  .processing {
    text-align: center;
    width: 100%;
    min-height: 480px;
    padding: 50px;

    i { font-size: 150px; margin-bottom: 10px; }
    font-size: 32px;
  }

  #controls-row {
    clear: both;
    text-align: center;
  }

  #capture-frame {
    background-color: rgba(0,0,0,.8);
    width: 56.25%;
    height: 20%;
    float: left;
    margin-left: 21.875%;
    padding: 0 0 180px 0;
    bottom: 0;
  }

  #next-frame {
    display: none;
    float: right;
    padding: 0 48px 0 0;
    margin: -40px 0 0 0;
  }

  #count-label {
    color: white;
    font-family: "museo-slab",serif;
    font-weight: 300;
    font-size: 50px;
    padding: 10px;
  }
}