body.photo_sets.index {

  .main {
    padding: 0px 0px;
    clear: both;
  }

  .text {
    float: left;
    text-align: left;
    margin-top: 160px;
    margin-left: 50px;
  }

  .image {
    float: left;
    text-align: right;
    width: 47.3%;
  }

  .image > img {
    width: 514px;
    height: auto;
  }

 .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    border-top: 0px solid #dddddd;
  }

 .table {
   margin: 15px 0 0 0;
 } 

  h1 {
    margin: 0 0 20px 0;
  }

  h2 {
    margin: 0 0 10px 0;
  }

  p {
    margin: 0 0 28px 0;
  }

  .btn-verizon {
    width: 410px;
    font-size: 26px;
    padding: 14px 0;
  }

  .terms {
    font-family: 'VerizonApexMedium', sans-serif;
    a {
      color: #333;
      text-decoration: underline;
    }
  }
}