body.photo_sets.index {

  .main {
    padding: 0px 0px;
    clear: both;
  }

  .text {
    float: left;
    text-align: left;
    margin-top: 160px;
    margin-left: 50px;
  }

  .image {
    float: left;
    text-align: right;
    width: 47.3%;
  }

  .image > img {
    width: 514px;
    height: auto;
  }

  .gif-table img {
    float: left;
    margin:  0 0 0 0;
    padding: 0px;
  }

  h1 {
    margin: 0 0 20px 0;
  }

  h2 {
    margin: 0 0 10px 0;
  }

  p {
    margin: 0 0 28px 0;
  }

  .btn-verizon {
    width: 410px;
    font-size: 26px;
    padding: 14px 0;
  }

  .terms {
    font-family: 'VerizonApexMedium', sans-serif;
    a {
      color: #333;
      text-decoration: underline;
    }
  }
}