body.photo_sets.show {

  .main {
    padding: 48px 48px;
    clear: both;
  }

  .text {
    float: left;
    text-align: left;
    margin-top: 260px;
  }

  .image {
    float: left;
    margin: 100px 100px 0 100px;
  }

  .image > img {
    position: fixed;
    width: 400px;
    height: auto;
  }

  h1 {
    margin: 0 0 20px 0;
  }

  h2 {
    margin: 0 0 0px 0;
  }

  p {
    margin: 0 0 38px 0;
  }

  .btn-verizon {
    width: 410px;
    font-size: 26px;
    padding: 14px 0;
  }
}