body.photo_sets.edit {

  #gif-row {
    min-height: 480px;
    margin: -40px 0 0 0;
  }

  #snapshot-row {
    min-height: 480px;
    margin: -40px 0 0 0;
  }

  #gif-frame {
    font-family: 'VerizonApexMediumItalic', sans-serif;
    text-align: center;
    min-height: 480px;
    margin-bottom: 120px;
    padding: 20px;
  }

  #gif-frame > img {
    position: fixed;
    top: 10%;
    left: 25%;
    margin: auto;
  }
  #snapshot-frame {
    display: none;
    font-family: 'VerizonApexMediumItalic', sans-serif;
    text-align: center;
    padding: 20px;
  }

  #snapshot-frame > img {
    height: auto;
    width: 480px;
  }

  #frames-row {
    clear: both;
  }

  #back-frame {
    float: left;
    width: 21.875%;
    height: auto;
    height: 180px;
    padding: 88px 0 0 30px;
  }

  #frames-frame {
    float: left;
    width: 56.25%;
    text-align: center;
  }

  .gif-frame {
    border: solid 1px black;
    height: auto;
    width: 20%;
    margin: 0 10px;
    cursor: pointer;
  }

  // #frames-frame > img {
  //   // display: none;
  //   height: auto;
  //   width: 200px;
  //   margin: 0 10px;
  //   cursor: pointer;
  // }

  #frames-frame > img.selected {
    border: solid 4px #d62026;
    border-radius: 4px;
    // box-sizing: content-box;
  }

  #next-frame {
    float: left;
    width: 21.875%;
    text-align: right;
    height: auto;
    height: 180px;
    padding: 88px 30px 0 0;
  }

  .loading {
    margin-top: 100px;
    text-align: center;
    i { font-size: 150px; }
    div { text-transform: uppercase;
      font-family: 'VerizonApexMedium', sans-serif;
      font-size: 21px;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
}