

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6">
		<div class='text'>
		  <%= image_tag ("redbox-logo.png"), class: "logo", :width => '30%' %>
		  <h2>LAUNCH PARTY!</h2>
		  <p>Congrats peeps on all your hard work!</p>
		  <%= link_to 'Make a GIF', new_photo_set_url, class: 'btn btn-verizon' %>
		</div>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6">
		<div class="gif-table">
			<% @photos.each do |photo| %>
				<img src="<%= photo %>" width="262px">
			<% end %>
		</div>
	</div>	
</div>

<div class="spotlight spot1"></div>
<div class="spotlight spot2"></div>	
<script>
	$('.text').addClass('magictime twisterInUp');
	$('.gif-table').addClass('animated fadeIn');
</script>