<div class='text'>
  <h2>Happy</h2>
  <h1>Harvest Moon</h1>
  <p>Create your Harvest Moon photo here in less than 5 minutes and share with your family and friends.</p>
  <%= link_to 'Create your own', new_photo_set_url, class: 'btn btn-verizon' %>
</div>
<div class='image'>
  <%= image_tag 'example.png' %>
</div>
<div class='terms'>
  <small>Message and data rates may apply.</small>
  <small><a href='<%= ENV['TERMS_AND_PRIVACY_URL'] %>' target='_blank'>Terms & Conditions and Privacy Policy</a></small>
</div>