<div class='text'>
  <h2>SNAP A GIF!</h2>
  <p>Create your gif photo here in less than THREE<br>
	minutes and share with your family and friends.</p>
  <%= link_to 'Create your own', new_photo_set_url, class: 'btn btn-verizon' %>
</div>
<div class='home-img'>
  <%= image_tag 'home-fpo.jpg' %>
</div>
