

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6">
		<div class='text'>
		  <h2>SNAP A GIF!</h2>
		  <p>Create your gif photo here in less than THREE<br>
			minutes and share with your family and friends.</p>
		  <%= link_to 'Create your own', new_photo_set_url, class: 'btn btn-verizon' %>
		</div>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6">
		<div class="gif-table">
			<% @photos.each do |photo| %>
				<img src="<%= photo %>" width="262px">
			<% end %>
		</div>
	</div>	
</div>	
<script>
	$('.text').addClass('magictime tinUpIn');
	$('.gif-table').addClass('animated fadeIn');
</script>