<div id='sms-row'>
  <div id='sms-frame'>
    <h3>What is your phone number?</h3>
    <%= form_tag(submit_photo_set_url(@photo_set)) do %>
      <%= telephone_field_tag :mdn, @photo_set.mdn, class: 'form-control', placeholder: "Mobile Phone Number" %>
      <%= submit_tag "Submit", class: 'btn' %>
    <% end %>
  </div>
</div>